@media only screen and (max-width: 391px) {
    .fs-8{
        font-size: 25px!important;
    }
    
    .fs-5{
        font-size: 25px!important;
    }
    .fs-4{
        font-size: 25px!important;
    }
    .btn {
        margin-top: 10px!important;
        margin-right: 0px;
        margin-left: 0px;
    }
    .arrow-button{
        display: none
    }
    .w-40{
        width: 100%!important;
    }
    .inline-block {
        display: block;
    }
    .w-45{
        width: 100%!important;
    }
    .second-section{
        text-align: center;
    }
    .second-section-text{
        text-align: center;
    }
    .second-section-footer {
        width: 100%;
    }
    .float-left{
        float: none!important;
    }
    .float-right{
        float: none!important;
    }
    #logo-img{
        width: 60px!important;
    }
    .first-section-text .description {
        font-size: 10px!important;
    }
 }